<!DOCTYPE html>
<html lang="id">
<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>The Wedding Of Arif & Nabila</title>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- ICON -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<!-- ========================= -->
<!-- PETAL EFFECT -->
<!-- ========================= -->

<div id="petals"></div>

<!-- ========================= -->
<!-- COVER -->
<!-- ========================= -->

<section id="cover">

    <div class="cover-overlay"></div>

    <div class="cover-content">

        <span class="subtitle">
            THE WEDDING OF
        </span>

        <h1>
            Ajil Prasetyo W <br></br>
            <span class="ampersand">&</span> <br></br>
            Munawwara
        </h1>

        <p>Kepada Yth.</p>

        <h3 id="guest-name">
            Tamu Undangan
        </h3>

        <button id="openInvitation">

            <i class="fa-solid fa-envelope-open"></i>
            Buka Undangan

        </button>

    </div>

</section>

<!-- ========================= -->
<!-- MUSIC -->
<!-- ========================= -->

<audio id="music" loop>

 <source
src="{{ url_for('static', filename='music.mp3') }}"
type="audio/mpeg">

</audio>

<!-- ========================= -->
<!-- HERO -->
<!-- ========================= -->

<section id="hero">

    <div class="hero-content">

        <p class="hero-subtitle">
            Dengan memohon rahmat Allah SWT
        </p>

        <h1>
            Ajil
            <span>&</span>
            Nawar
        </h1>

        <p class="hero-date">
           28 JUNI 2026
        </p>

    </div>

</section>

<!-- ========================= -->
<!-- COUNTDOWN -->
<!-- ========================= -->

<section id="countdown">

    <h2>Menuju Hari Bahagia</h2>

    <div class="countdown-wrapper">

        <div class="count-box">
            <h3 id="days">00</h3>
            <span>Hari</span>
        </div>

        <div class="count-box">
            <h3 id="hours">00</h3>
            <span>Jam</span>
        </div>

        <div class="count-box">
            <h3 id="minutes">00</h3>
            <span>Menit</span>
        </div>

        <div class="count-box">
            <h3 id="seconds">00</h3>
            <span>Detik</span>
        </div>

    </div>

</section>

<!-- ========================= -->
<!-- COUPLE -->
<!-- ========================= -->

<section id="couple">

    <h2>Mempelai</h2>

    <div class="couple-wrapper">

        <div class="person">

            <div class="photo-frame">

<img
src="{{ url_for('static', filename='gallery/groom.jpg') }}"
alt="Groom">

            </div>

            <h3>Ajil Prasetyo W </h3>

            <p>
              Putra dari Bapak 
              Widodo dan Hasniah
            </p>

        </div>

        <div class="love-icon">

            <i class="fa-solid fa-heart"></i>

        </div>

        <div class="person">

            <div class="photo-frame">

                <img
src="{{ url_for('static', filename='gallery/bride.jpg') }}"
alt="bride">

            </div>

            <h3>Munawwara</h3>

            <p>
                Putri dari Bapak
                Syarifuddin dan Murni
            </p>

        </div>

    </div>

</section>

<!-- ========================= -->
<!-- LOVE STORY -->
<!-- ========================= -->

<section id="story">

    <h2>Our Love Story</h2>

    <div class="timeline">

        <div class="timeline-item">

            <span>2020</span>

            <h3>Pertama Bertemu</h3>

            <p>
                Awal perjalanan kisah kami.
            </p>

        </div>

        <div class="timeline-item">

            <span>2024</span>

            <h3>Lamaran</h3>

            <p>
                Memutuskan melangkah
                ke jenjang yang lebih serius.
            </p>

        </div>

        <div class="timeline-item">

            <span>2026</span>

            <h3>Menikah</h3>

            <p>
                Mengikat janji suci
                dalam ikatan pernikahan.
            </p>

        </div>

    </div>

</section>

<!-- ========================= -->
<!-- EVENT -->
<!-- ========================= -->

<section id="event">

    <h2>Wedding Event</h2>

    <div class="event-card">

        <i class="fa-solid fa-mosque"></i>

        <h3>Akad Nikah</h3>

        <p>28 JUNI 2026</p>
        <p>09.00 WITA</p>

    </div>

    <div class="event-card">

        <i class="fa-solid fa-champagne-glasses"></i>

        <h3>Resepsi</h3>

        <p>28 JUNI 2026</p>
        <p>10.00 WITA - SELESAI</p>

    </div>

</section>

<!-- ========================= -->
<!-- MAP -->
<!-- ========================= -->

<section id="map">

    <h2>Lokasi Acara</h2>

    <iframe
    src="https://www.google.com/maps?q=-5.106284,119.458921&z=15&output=embed"
    width="100%"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy">
    </iframe>
</section>

<!-- ========================= -->
<!-- GALLERY -->
<!-- ========================= -->

<section id="gallery">

    <h2>Galeri</h2>

    <div class="gallery-grid">

<img src="{{ url_for('static', filename='gallery/1.jpg') }}">
<img src="{{ url_for('static', filename='gallery/2.jpg') }}">
<img src="{{ url_for('static', filename='gallery/3.jpg') }}">
<img src="{{ url_for('static', filename='gallery/4.jpg') }}">
<img src="{{ url_for('static', filename='gallery/5.jpg') }}">
    </div>

</section>

<!-- ========================= -->
<!-- GIFT -->
<!-- ========================= -->

<section id="gift">

    <h2>Wedding Gift</h2>

    <div class="gift-card">

        <h3>BCA A.N</h3>
        <p>AJIL PRASETIYO W</p>

        <p>1100683438</p>

        <button>
            Salin Nomor Rekening
        </button>

    </div>

</section>

<!-- ========================= -->
<!-- RSVP -->
<!-- ========================= -->

<section id="rsvp">

    <h2>Konfirmasi Kehadiran</h2>

    <form action="/rsvp" method="POST">

        <input
            type="text"
            name="nama"
            placeholder="Nama Lengkap"
            required>

        <select name="hadir" required>
            <option value="">Pilih Kehadiran</option>
            <option value="Hadir">Hadir</option>
            <option value="Tidak Hadir">Tidak Hadir</option>
        </select>

        <textarea
            name="pesan"
            placeholder="Ucapan dan doa"></textarea>

        <button type="submit">
            Kirim RSVP
        </button>

    </form>
<div class="ucapan-list">

    <h3>Ucapan & Doa</h3>

    {% for item in ucapan %}

    <div class="ucapan-card">

        <div class="ucapan-header">

            <strong>{{ item[1] }}</strong>

            {% if item[2] == "Hadir" %}
                <span class="hadir">✓ Hadir</span>
            {% else %}
                <span class="tidak-hadir">✕ Tidak Hadir</span>
            {% endif %}

        </div>

        <p>{{ item[3] }}</p>

    </div>

    {% endfor %}

</div>

</section>
<!-- ========================= -->
<!-- FOOTER -->
<!-- ========================= -->

<footer>

    <h2>
        Ajil & Nawar
    </h2>

    <p>
        Thank You
    </p>

</footer>

<!-- ========================= -->
<!-- FLOATING MENU -->
<!-- ========================= -->

<nav id="bottom-nav">

    <a href="#hero">
        <i class="fa-solid fa-house"></i>
    </a>

    <a href="#couple">
        <i class="fa-solid fa-heart"></i>
    </a>

    <a href="#event">
        <i class="fa-solid fa-calendar"></i>
    </a>

    <a href="#gallery">
        <i class="fa-solid fa-image"></i>
    </a>

    <a href="#rsvp">
        <i class="fa-solid fa-envelope"></i>
    </a>

</nav>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!--script src="/static/script.js"></script-->

</body>
  </html>
